/* Main Styles */

html, body {
  font-family:'Roboto','Helvetica','Arial',sans-serif;
}

/* Header Styles */

.mdl-layout-title {
  font-size: 26px;
}

#collapse-all {
  position: absolute;
  right: 40px;
  top: 88px;
  z-index: 999;
  transition: all 500ms ease-in-out;
}

  #collapse-all.rotated {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    box-shadow: 0 -1px 1.5px 0 rgba(0,0,0,.12),
     0 -1px 1px 0 rgba(0,0,0,.24);
  }

/* Body Styles */

.page-content {
  padding: 15px;
}

.section--center {
  max-width: 1600px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/** Cards **/

.mdl-card {
  min-height: 0px;
  margin: 0;
}

.mdl-card__title {
  background-color: #536DFE;
  padding: 0 0 0 20px;
  height: auto;
}

  .mdl-card__title h1 {
    font-size: 22px;
    font-weight: bold;
    color: #eee;
  }

.mdl-card__supporting-text {
  box-sizing: border-box;
  width: 100%;
  color: #333;
  padding: 20px 30px;
}

  .mdl-card__supporting-text h1 {
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(63,81,181,0.3);
  }

  .mdl-card__supporting-text h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px;
    border-bottom: 1px solid #DDD;
  }

  .mdl-card__supporting-text h2:first-child {
    margin-top: 0px;
  }


  .mdl-card__supporting-text h3 {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .mdl-card__supporting-text a {
    text-decoration: none;
    color: #3D5AFE;
  }

  .mdl-card__supporting-text li p {
    margin: 0 0 0 0;
  }
  
  .mdl-card__supporting-text li p:last-child {
    margin: 0 0 10px 0;
  }

.content-card .collapse-icon {
  display: block;
}

.card-icon {
  display: none;
  position: absolute;
  font-size: 8px;
  color: #283593;
  right: 10px;
}

/*** Collapse Card ***/

.collapse-card .fade {
  display: block;
  height: 100px;
  background: linear-gradient(transparent,white 90px);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

  .collapse-card .mdl-card__supporting-text {
    height: 200px;
  }

  .collapse-card .expand-button {
    display: inline-block;
    position: absolute;
    bottom: 5px;
    right: 5px;
  }

  .collapse-icon.rotated{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

.fade {
  display: none;
}

.expand-button {
  display: none;
}

.collapse-icon {
  top: 40px;
  transition: all 500ms ease-in-out;
}

/** Buttons **/

.exercise-button {
  width: 45%;
  margin: 5px 5px;

}

/** Link Card **/

.link-card a {
  text-decoration: none;
}

.link-card .link-icon {
  display: block;
}

.link-icon {
  top: 25px;
}

  .link-icon a {
    text-decoration: none;
    color: inherit;
  }

/** Code **/
code.cpp {
  background-color: rgba(236,239,241,0.5);
  padding: 0 20px;
}

/* Footer Styles */

#the-footer {
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}

.mdl-mini-footer__link-list li {
  white-space: nowrap;
}

.mdl-mini-footer__right-section p {
  margin: 0;
}

.icon-circlegithub {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  line-height: 24px;
  transform: translate(-12px,-12px);
}
