html, body {
  font-family:'Roboto','Helvetica','Arial',sans-serif;
}

.mdl-card {
  min-height: 0px;
  margin: 0;
}

.fade {
  display: none;
}

.collapse-card .fade {
  display: block;
  height: 100px;
  background: linear-gradient(transparent,white 90px);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.expand-button {
  display: none;
}

.collapse-card .expand-button {
  display: inline-block;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.mdl-card__supporting-text {
  box-sizing: border-box;
  color: #333;
}

.collapse-card .mdl-card__supporting-text {
  height: 200px;
}

.mdl-card__title {
  background-color: #536DFE;
  padding: 0 0 0 20px;
  height: auto;
}

.mdl-card__title h1 {
  font-size: 22px;
  font-weight: bold;
  color: #eee;
}

.section--center {
  max-width: 1600px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mdl-layout-title {
  font-size: 26px;
}

.page-content {
  padding: 15px;
}

.link-card a {
  text-decoration: none;
}

#the-footer {
  padding-top: 10px;
  padding-bottom: 10px;
}

#collapse-all {
  position: absolute;
  right: 40px;
  top: 88px;
  z-index: 999;
  transition: all 500ms ease-in-out;
  /*box-shadow: none;*/
}
#collapse-all.rotated {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  zoom: 1;
  box-shadow: 0 -1px 1.5px 0 rgba(0,0,0,.12),
   0 -1px 1px 0 rgba(0,0,0,.24);
}

.collapse-icon {
  display: none;
  position: absolute;
  top: 40px;
  right: 10px;
  font-size: 8px;
  color: #283593;
  transition: all 500ms ease-in-out;
}

.link-icon {
  display: none;
  position: absolute;
  top: 25px;
  right: 10px;
  font-size: 8px;
  color: #283593;
}

.link-icon a {
  text-decoration: none;
  color: inherit;
}

.content-card .collapse-icon {
  display: block;
}

.link-card .link-icon {
  display: block;
}

.collapse-icon.rotated{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  zoom: 1;
}
